@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.page-wrapper {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.absolute_fullheight {
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.left-section {
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  width: 15.625%;
  background: #242b2e;
  box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0.5);
  text-align: right;
}
.left-section__logo {
  width: 100%;
  height: 125px;
  background-color: white;
  position: relative;
}
.left-section__logo img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}
.left-section__menu {
  color: white;
}
.left-section__menu__element {
  font-size: 13.5pt;
  height: 61px;
  background: linear-gradient(to top, #2e363a, #333b3f);
  list-style-type: none;
  border-top: 1px solid #293034;
  line-height: 62px;
  vertical-align: middle;
  padding-right: 24px;
}
.left-section__menu__element:first-child {
  border-top: none;
}
.left-section__menu__element:last-child {
  border-bottom: 1px solid #293034;
}
.left-section__menu__element:hover {
  background: #2cb7b5;
  border-color: #169291;
}
.left-section__filter {
  height: 220px;
  border-top: 1px solid #202426;
  border-bottom: 1px solid #1e282b;
  padding-right: 24px;
}
.left-section__filter p {
  color: #6b7072;
  margin-bottom: 8px;
  font-size: 10pt;
}
.left-section__filter p:hover {
  color: white;
}
.left-section__filter p:first-child {
  color: #1ab5b3;
  font-size: 13.5pt;
  margin: 20px 0 16px 0;
}
.left-section__social {
  padding-right: 24px;
  text-align: right;
  margin-top: 25px;
  font-size: 21pt;
}
.left-section__social__flickr {
  color: white;
}
.left-section__social__googleplus {
  color: #dc6230;
}
.left-section__social__twitter {
  color: #45c9ed;
}
.left-section__social__pinterest {
  color: #f73c2d;
}
.left-section__social__dribbble {
  color: #ff7ac7;
}
.left-section__social__behance {
  color: #46caed;
}
.left-section__social__facebook {
  color: #3b599d;
}
.left-section__social a:hover {
  color: #1ab5b3;
}
.left-section__copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 8.5pt;
  color: #6b7072;
  padding-right: 24px;
  text-align: right;
  padding-top: 15px;
}
.portfolio {
  z-index: 1;
  width: 84.375%;
  /*create mixin*/
  margin-left: 15.625%;
  /*create mixin*/
  background-color: white;
  font-size: 0px;
}
.portfolio__example {
  display: inline-block;
  width: 25%;
  color: white;
}
.portfolio__example img {
  width: 100%;
}
.portfolio__example__info {
  margin-top: -77%;
  background: #1ab5b3;
  opacity: 0;
  position: relative;
  text-align: center;
  transition: opacity 0.5s ease-out;
}
.portfolio__example__info img {
  width: 30% !important;
}
.portfolio__example:hover .portfolio__example__info {
  opacity: 0.9;
}
.portfolio .design-name {
  padding-top: 26%;
  font-size: 2vw;
  color: white;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.portfolio .design-tags {
  font-size: 1vw;
  color: white;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.line {
  margin: 3% 0 0 33%;
  height: 1px;
  background-color: white;
  width: 33%;
}
.info {
  top: 0px;
  bottom: 0px;
  z-index: 3;
  position: absolute;
  right: 0;
}
.info__label {
  width: 91px;
  height: 91px;
  margin-left: 192px;
  background-image: url("../images/kappe-info.png");
  background-color: #2db8b7;
}
.info__contact {
  width: 91px;
  height: 0px;
  margin-left: 192px;
  font-size: 0px;
  color: transparent;
  transition-property: width, height, font-size, margin-left;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.info__contact p {
  font-size: 0pt;
  padding: 8px;
  transition: font-size 0.4s ease-out;
}
.info__contact p:first-child {
  padding-top: 18px;
}
.info__contact p e {
  padding: 0px 9px;
  font-size: 0pt;
  transition: font-size 0.4s ease-out;
}
.info__label:hover + .info__contact,
.info__contact:hover {
  width: 283px;
  height: 130px;
  color: white;
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.info__label:hover + .info__contact p,
.info__contact:hover p {
  font-size: 12pt;
}
.info__label:hover + .info__contact e,
.info__contact:hover e {
  font-size: 15px;
}
.active-element {
  background: linear-gradient(to top, #18a4a2, #31bcba);
  border-bottom: 1px solid #169291;
  border-top-color: #169291;
}
.active-element + .left-section > .menu__element {
  border-top: none;
}
.iconic {
  font-family: iconic;
}
