@import url('left-section.less');
@import url('info.less');
@import url('slider-btns.less');

@color-turquoise: #1ab5b3;
@color-lite-gray: #e5e5e5;
@color-gray: #848484;

.project {
    z-index: 1;
    width: 79.2%;
    margin-left: 16.8%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px;
    background-color: white;
    font-size: 0px;

    &__info-panel {
        display: inline-block;
        width: 48%;

        &:first-child {
            margin-right: 4%;
        }

        &:last-child {
            position: absolute;
            margin-top: -35px;
            width: 38%;
        }
        
        h2 {
            font-size: 18pt;
            margin-top: 33px;
            font-weight: 300;
        }

        p {
            font-size: 14pt;
            margin: 7px 5px 0 0;
            opacity: .5;
            line-height: 30px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .line {
            height: 1px;
            width: 100%;
            background: @color-lite-gray;
            margin-top: 25px;
        }

        &__all-examples {
            width: 100%;
            margin-top: 20px;
            img {
                width: 33%;
                cursor: pointer;
            }
        }

        &__info-element {
            width: 100%;
            height: 30px;
            padding: 15px 0;
            border-bottom: 1px solid @color-lite-gray;

            .circle {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid @color-turquoise;
                color: @color-turquoise;

                p {
                    text-align: center;
                    margin: 0;
                    font-size: 12pt;
                }
            }

            .info-text {
                margin-top: -30px;
                margin-left: 43px;
                font-size: 10pt;
                cursor: pointer;
                &:hover { color: @color-turquoise; }
            }
        }

        &__tags div {
            display: inline-block;
            padding: 11px 16px;
            margin-right: 12px;
            margin-top: 16px;
            border: 1px solid @color-gray;
            border-radius: 11px;
            font-size: 10pt;
            font-weight: 300;
            color: @color-gray;
            opacity: 0.7;
            cursor: pointer;

            &:hover {
                color: @color-turquoise;
                border-color: @color-turquoise;
            }
        }

        .project-h { margin-top: 30px !important; }
        .tags-h { margin-top: 26px !important; }
        .gallery-h { margin-top: 25px !important; margin-bottom: 17px; }
        .features-h { margin-top: 12px!important; }

        &__gallery img {
            height: 78px;
            width: 78px;
            margin: 0 12px 12px 0;
            cursor: pointer;
        }

        &__features {
            font-size: 11pt;
            list-style: none;
            margin-left: -5px;

            li { 
                margin-top: 12px;
                color: @color-gray;
            }
            li:before {
                content: "\e805";
                font-family: iconic;
                margin-right: 9px;
            }
        }
    }
}

@media screen and (max-device-width: 900px) {
    .page-wrapper {
        background: white;
        padding: 0;
    }
    .left-section {
        width: 112%;
    }
    .project {
        position: absolute;
        width: 100%;
        margin: 25px;
        &__info-panel {
            display: block;
            width: 100%;
            &__features {
                margin-bottom: 20px;
            }
            &:last-child {
                position: inherit;
                width: 95%;
                margin-top: 20px;
            }
            p, &__tags div, &__features li { font-size: 20pt !important; }
            &__features li { color: @color-gray; }
            &__gallery img {
                height: 120px;
                width: 120px;
             }
        }
    }
    h2, .project-h, .tags-h, .gallery-h, .features-h { font-size: 25pt !important; }
    .info-text { font-size: 18pt !important; }

}