@import url('left-section.less');
@import url('info.less');

@color-turquoise: #1ab5b3;
@color-lite-gray: #e5e5e5;

.project {
    z-index: 1;
    width: 79.2%;
    margin-left: 16.8%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px;
    background-color: white;
    font-size: 0px;

    &__info-panel {
        display: inline-block;
        width: 48%;

        &:first-child {
            margin-right: 4%;
        }

        &:last-child {
            position: absolute;
            margin-top: -35px;
            width: 38%;
        }

        // &__slider {
        //     img {
        //         width: 100%;
        //     }

        //     &__panel {
        //         margin-top: -30px;
        //         margin-left: 80%;

        //         &__element {
        //             display: inline-block;
        //             width: 19px;
        //             height: 11px;
        //             margin-left: 8px;
        //             background: #b6b6b6;
        //             border: 1px solid #e1e1e1;
        //             cursor: pointer;
        //         }

        //         .active-photo {
        //             background: #40bcba;
        //             border-color: #6b6b6b;
        //         }
        //     }
        // }

        h2 {
            font-size: 18pt;
            margin-top: 33px;
            font-weight: 300;
        }

        p {
            font-size: 14pt;
            margin: 7px 5px 0 0;
            opacity: .5;
            line-height: 30px;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .line {
            height: 1px;
            width: 100%;
            background: @color-lite-gray;
            margin-top: 25px;
        }

        &__all-examples {
            width: 100%;
            margin-top: 20px;
            img {
                width: 33%;
                cursor: pointer;
            }
        }

        &__info-element {
            width: 100%;
            height: 30px;
            padding: 15px 0;
            border-bottom: 1px solid @color-lite-gray;

            .circle {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid @color-turquoise;
                color: @color-turquoise;

                p {
                    text-align: center;
                    margin: 0;
                    font-size: 12pt;
                }
            }

            .info-text {
                margin-top: -30px;
                margin-left: 43px;
                font-size: 10pt;
                cursor: pointer;
                &:hover { color: @color-turquoise; }
            }
        }

        &__tags div {
            display: inline-block;
            padding: 11px 16px;
            margin-right: 12px;
            margin-top: 16px;
            border: 1px solid #e5e5e5;
            border-radius: 11px;
            font-size: 10pt;
            font-weight: 300;
            color: #a3a3a3;
            cursor: pointer;

            &:hover {
                color: @color-turquoise;
                border-color: @color-turquoise;
            }
        }

        .project-h { margin-top: 30px !important; }
        .tags-h { margin-top: 26px !important; }
        .gallery-h { margin-top: 25px !important; margin-bottom: 17px; }
        .features-h { margin-top: 12px!important; }

        &__gallery img {
            height: 78px;
            width: 78px;
            margin: 0 12px 12px 0;
            cursor: pointer;
        }

        &__features {
            font-size: 11pt;
            list-style: none;
            margin-left: -5px;

            li { 
                margin-top: 12px; 
            }
            li:before {
                content: "\e805";
                font-family: iconic;
                margin-right: 9px;
            }
        }
    }
}

#slideshow-wrap {
    display: block;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    ul {
        list-style: none;
        height: 100%;
        width: 400%;
        overflow: hidden;
        position: relative;

        li {
            width: 25%;
            height: 560;
            float: left;
            position: relative;

            img {
                width: 100%;
            }
        }
    }
}

 #slideshow-wrap input[type=radio] {
    position: absolute;
    visibility: hidden;
} 

#slideshow-wrap label:not(.show-description-label) {
    position: absolute;
    left: 80%;
    bottom: 30px;
    z-index: 1;
    width: 19px;
    height: 11px;
    cursor: pointer;
}

#slideshow-wrap label:not(.show-description-label) {
    background-color: #b6b6b6;
    border: 1px solid #6b6b6b;
}

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: #40bcba; border: 1px solid white; }
#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: #40bcba; border: 1px solid white; }
#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: #40bcba; border: 1px solid white; }
#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: #40bcba; border: 1px solid white; }

#slideshow-wrap label[for=button-1] { margin-left: 0px }
#slideshow-wrap label[for=button-2] { margin-left: 30px }
#slideshow-wrap label[for=button-3] { margin-left: 60px }
#slideshow-wrap label[for=button-4] { margin-left: 90px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }
#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }
#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }
#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }